{% extends 'base.html' %}

{% block head %}

<div class="content" style="background-color: black; color: chartreuse;">

    <h1>Hash Phreak</h1>


</div>

{% endblock %}

{% block body %}

<div class="content" style="background-color: black; color: chartreuse;">


    <table>
        <tr>
            <th>Entry</th>
            <th>SHA-1</th>
            <th>SHA-256</th>
            <th>SHA-384</th>
            <th>SHA-512</th>



        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>

                <a href="">delete</a>
            </td>



        </tr>

    </table>


</div>

{% endblock %}



