{% extends 'base.html' %}

{% block head %}

<div class="content" style="background-color: black; color: chartreuse; text-align: center;">

    <h1>Hash Phreak</h1>


</div>

{% endblock %}

{% block body %}

<div class="content" style="background-color: black; color: chartreuse; text-align: center;">

    
    <!--<a href="">Export Data</a>-->

    <table style="width:100%">
        <tr>
            <th>entry</th>
            <th>PLAINTEXT</th>
          <th>SHA1</th>
          <th>SHA224</th>
          <th>SHA256</th>
          <th>SHA384</th>
          <th>SHA512</th>
          

          
        </tr>
        {% for query in queries %}
        <tr>
            <td>{{ query.entry }}</td>
            <td>{{ query.PLAINTEXT }}</td>
            <td>{{ query.S1 }}</td>
            <td>{{ query.S224 }}</td>
            <td>{{ query.S256 }}</td>
            <td>{{ query.S384 }}</td>
            <td>{{ query.S512 }}</td>
           
         
            </td>
            
        </tr>
    {% endfor %}
    <form style="border-color: #b6a9cb; background-color: black;" action="/" method="POST">
    
        <input type="text" name ="content" id="content">
        <input type="submit" value="Query">
        

    </form>
        
      </table>


</div>

{% endblock %}



